@font-face {
	font-family: FuturaPTBook;
	src: url('../fonts/FuturaPTBook.otf');
}

@font-face {
	font-family: OpenSans-Light;
	src: url('../fonts/OpenSans-Light.ttf');
}

body,
html {
	height: 100%;
	width: 100%;
	font-family: FuturaPTBook, sans-serif !important;
	overflow: hidden;
}

.content {
	position: absolute;
	top: 0px;
	background: #212121;
	color: #ececec;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 20px;
	z-index: 2;
	transition: all 1s ease;
}

.content.slide-down{
	position: absolute;
	top: 100%;
}

.portfolio {
	position: absolute;
	top: 0px;
	background: #212121;
	color: #ececec;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 100%;
	width: 100%;
	padding: 20px;
	z-index: 1;
	transition: all 1s ease;
}

.portfolio > div {
	color: #212121;
	display: inline-block;
	flex-grow: 1;
	width: calc(100% * (1/3));
}

.portfolio .item {
	background: #ececec;
	border: 1px solid #ececec;
	overflow: hidden;
}

/*.portfolio .item img:hover {
	transform: scale(1.2);
}*/

.portfolio p {
	padding: 10px 15px;
	text-align: center;
}

#logo {
	max-width: 100px;
	transform: rotate(45deg);
	margin-bottom: 40px;
}

span.name {
	color: #13585d;
}

@keyframes see_more {
	0%{
		transform: translate(0px, 0px);
	}
	25%{
		transform: translate(0px, 20px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}

.show-more {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #212121;
  animation-name: see_more;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.e-border-btn {
	background: transparent;
	color: #ececec;
	border: 1px solid #ececec;
	transition: all .7s ease;
}

.e-border-btn:hover {
	background: #ececec;
	color: #212121;
}